.btn-outline-light
{
width: 90pt;
height: 40pt;
}
.footer-custom {
    background-color: #c63c47;
    color: white;
    padding: 40px 0;
    position: relative;
  }
  .form-control {
    border-radius: 8px;
  }
  .btn-cadastrar {
    border: 2px solid #ffc107;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 8px;
  }
  .btn-cadastrar:hover {
    background-color: #ffc107;
    color: #c63c47;
  }
  .floating-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #28d160;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
  }
  .btn-cadastrar1{
    border: 2px solid #ffc107;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
  }
  .card-container {
    display: flex;
    gap: 24px; 
    justify-content: center;
    flex-wrap: wrap; 
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 300px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover; 
    border-radius: 8px;
  }

  .job-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  

  .job-img {
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .btn-candidatar {
    border: 2px solid #ffc107;
    background-color: transparent;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 12px;
    display: inline-block;
  }

  .btn-candidatar:hover {
    background-color: #ffc107;
    color: white;
  }